<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Phone words</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body class="bg-dark">
    <header class="w-full h-20 relative">
        <div class="box-border flex flex-col items-center relative">
        <h1 class="mt-2 text-4xl absolute top-3.5">Phone words</h1>
      </div>
    </header>
  </body>
</html>